<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {title: "Inicio" }) %>


    <body class="home-body">
        <%- include("../partials/header") %>
            <main class="home-main">

                <div class="div-offers">
                    <h5>¡OFERTAS DE LA SEMANA DE LA LIMPIEZA!</h5>
                </div>
                <% if(locals.products.length> 0){ %>
                    <section class="section-products">

                        <% products.forEach(product=> { %>
                            <div class="product-card">
                              <button class="add-to-favorites" data-product-id="<%= product.id %>" <%= !locals.userLogin ? "disabled" : "" %>>
                                <% if (user && user.favorites) { %>
                                  <% const isFavorite = user.favorites.some(favorite => favorite.id === product.id); %>
                                  <i class="fa <%= isFavorite ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
                                <% } else { %>
                                  <i class="fa fa-regular fa-heart "></i>
                                <% } %>
                              </button>
                                <div class="product-image">
                                    <img src="/images/products/<%= product.image%>" alt="<%= product.name%>">
                                </div>
                                <div class="product-details">
                                    <h3 class="product-title"><%= product.name%></h3>
                                    <p class="product-description"><%= product.description %></p>
                                    <div class="product-price">
                                        <span class="price">$<%= product.price %></span>
                                        <span class="discount">$9999.99</span>
                                    </div>
                                    <div class="product-actions">
                                        <a href="/productos/detalle/<%= product.id%>" class="view-product">Ver Producto</a>
                                        <button href="#" class="add-to-cart" data-product-id="<%= product.id %>" disabled>Agregar al carrito</button>
                                    </div>
                                   
                                    
                                    
                                </div>
                            </div>
                            <% }) %>
                                <% }else{%>
                                    <h1>No hay productos con la categoria seleccionada</h1>
                                    <%} %>
                    </section>
            </main>

            <% if (locals.userLogin?.roleAdmin===true) { %>
                <a href="/admin/dashboard/productos" class="access-dashboard"><i class="fa-solid fa-user-gear"></i></a>
                <% } %>

                    <%- include("../partials/footer") %>
                        <%- include("../partials/scripts") %>
                        <script src="./js/togglePassword.js"></script>
    </body>

</html>